@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

$gray-5: #fafafb;
$gray-10: #f2f4f8;
$gray-20: #dde1e6;
$gray-30: #c1c7cd;
$gray-40: #a2a9b0;
$gray-50: #878d96;
$gray-60: #697077;
$gray-70: #4d5358;
$gray-80: #343a3f;
$gray-90: #21272a;
$gray-100: #121619;

$white: #fff;
$black: #000;

$primary: #20d489;
$primary-60: hsl(155, 74%, 43%);
$primary-light: #e4fff4;

$border-radius: 4px;
