:root {
  --gray-10: #f2f4f8;
  --gray-20: #dde1e6;
  --gray-30: #c1c7cd;
  --gray-40: #a2a9b0;
  --gray-50: #878d96;
  --gray-60: #697077;
  --gray-70: #4d5358;
  --gray-80: #343a3f;
  --gray-90: #21272a;
  --gray-100: #121619;

  --border-radius: 2px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 20px;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.pageHeader {
  margin-bottom: 2rem;
  background-color: var(--gray-10);
}

.pageHeader__inner {
  padding: 3rem 0 5rem 0;
}

/* MENU */

.menu {
  text-align: center;
}

.menu__item {
  display: inline-block;
  text-decoration: none;
  color: var(--gray-60);
}

.menu__item:not(:last-child) {
  margin-right: 2rem;
}

/* PAGE TITLE */

.pageTitle {
  margin: 4rem 0;
  text-align: center;
  font-size: 3rem;
  font-weight: normal;
}

/* SEARCH INPUT */

.searchInput {
  display: block;
  width: 100%;
  padding: 1rem;

  border: none;
  border-bottom: 1px solid var(--gray-20);
  outline: none;
  background-color: transparent;

  font-size: 1rem;
}

.searchInput:focus {
  border-color: var(--gray-40);

  color: var(--gray-80);
}

/* SEARCH ENGINES */

.searchEngines__inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.searchEngine {
  padding: 2rem;
  background-color: var(--gray-10);
  border: 1px solid var(--gray-20);
  border-radius: var(--border-radius);

  text-decoration: none;
  color: var(--gray-70);

  transition: all 0.25s ease-out;
}

.searchEngine:hover {
  background-color: var(--gray-20);
  color: var(--gray-80);
}
