@use '../variables' as *;

.dropdown {
  position: relative;

  &__menu {
    display: none;
    position: absolute;
    right: 0;
    padding: 0.5rem 0;
    min-width: 120px;

    background-color: $white;
    border: 1px solid $gray-10;
    border-radius: $border-radius;

    z-index: 1000;
    box-shadow: 0 4px 16px $gray-20;

    &_show {
      display: block;
    }
  }

  &__item {
    display: block;
    padding: 0.5rem 1rem;

    font-size: 16px;
    text-align: right;
    color: $gray-60;

    white-space: nowrap;

    &:hover {
      background-color: $gray-10;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $gray-10;
    }
  }
}
