@use '../variables' as *;

.searchEngine {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 1rem 2rem;
  background-color: $gray-5;
  border-radius: $border-radius;

  font-family: $font-primary;
  text-decoration: none;
  color: $gray-60;
  font-weight: 600;

  transition: all 0.25s ease-out;

  &:hover {
    background-color: $gray-10;
    color: $gray-70;
  }

  &__img {
    width: 24px;
    height: 24px;
    margin-right: .5rem;
  }
}
